version: '3.9'
services:
  config-server:
    image: pa-config-server
    environment:
      - SPRING_PROFILES_ACTIVE=prod, native

  api-gateway:
    image: pa-api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - config-server
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888

  auth-server:
    ports:
      - "9000:9000"
    image: pa-auth-server
    depends_on:
      - config-server
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888

  adoptation-service:
    image: pa-adoptation-service
    depends_on:
      - config-server
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888

  shelter-service:
    image: pa-shelter-service
    depends_on:
      - config-server
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888

  pet-service:
    image: pa-pet-service
    depends_on:
      - config-server
      - pet-db
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888

  pet-db:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_DB=petdb
      - MYSQL_ROOT_USER=user
      - MYSQL_ROOT_PASSWORD=password
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
