<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Weight</th>
    <th>Type</th>
    <th>Image Url</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let tempPets of pets">
    <td class="align-middle">{{tempPets.name }}</td>
    <td class="align-middle">{{tempPets.description }}</td>
    <td class="align-middle">{{tempPets.age }}</td>
    <td class="align-middle">{{tempPets.gender }}</td>
    <td class="align-middle">{{tempPets.weight }}</td>
    <td class="align-middle">{{tempPets.type }}</td>
    <td class="align-middle"><img src="{{ tempPets.imageUrl}}" height="150"></td>
  </tr>
  </tbody>
</table>
