zuul:
  sensitiveHeaders: Cookie,Set-Cookie
  routes:
    adoptation:
      path: /adoptation/**
      url: http://localhost:8082
    pet:
      path: /pet/**
      url: http://localhost:8083
    shelter:
      path: /shelter/**
      url: http://localhost:8084
    oauth:
      path: /oauth2/**
      url: http://localhost:9000/oauth2

petadoption:
  security:
    client-secret: 546c5e7b-bd66-4df3-a601-8a31a4bee482
    client-id: api-gateway
